*
{
    margin: 0;

}

@font-face {
    font-family: "Major Mono";
    src: local("Major Mono"),
      url(./MajorMonoDisplay-Regular.ttf) format("truetype");
  }

html,
body
{

    font-family: Major Mono;
    color: grey;
    background: white;

    background: url(./white-texture.jpg);

}

.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    padding: 20px;
    height: fit-content;

}


.container {
    display:flex;
    justify-content: space-between;
    margin: 100px;

}

.line {
    display:flex;
    gap: 10px;
    margin-top: 30px;

}

#orange-x-input-multiple, #orange-y-input-multiple, #blue-x-input-multiple, #blue-y-input-multiple {
    max-width: 50px;
    height: 20px;
}

p {
    color: brown;
    margin: 10px 0;
}

h2 {
    margin: 20px;
    min-width: 130px;
}

select {
    font-size: 20px;

}

input , select{
    background:white;
}

.orange-line, .blue-line {

    display: flex;
    flex-direction: column;
    margin: 10px 0;
}


.orange-divider-line, .blue-divider-line{
    height: 50%;
    width: 400px;
    left: -100px;
    position: absolute;
    mix-blend-mode: overlay;
    pointer-events: none;
}
.orange-divider-line{
    background-color: #ff4910;
    top: -40px;

}
.blue-divider-line{
    background-color: steelblue;
    bottom: -30px;
}
.orange-line{
    border: 5px solid rgb(224,224,224)
}
.blue-line{
    border: 5px solid rgb(224,224,224)

}
.line-container {
    display: flex;
    flex-direction: column;
    position:relative;
}

.blue-line h2 {
    mix-blend-mode: multiply;
}
.orange-line h2 {
    mix-blend-mode: multiply;
}



@media screen and (max-width: 600px) {
    .container{
        flex-direction:column;
        margin: 0px;
    }

  }

circle{
    /* mix-blend-mode: color-burn; */
}