*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background: linen;
    font-family: Arial;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.column {
display: flex;
flex-direction: column;
width: 300px;
margin: 20px;
padding: 20px;
border: 1px solid grey;
height: fit-content;

}


.container {
    display:flex;
    justify-content: space-between;
}

.line {
display:flex;
gap: 10px;
margin-top: 30px;

}

#x-input-multiple, #y-input-multiple {
max-width: 50px;
height: 20px;
}

p {
color: brown;
}

select {
    font-size: 20px;

}

input , select{
    background: linen;
}