*
{
    margin: 0;

}

@font-face {
    font-family: "Major Mono";
    src: local("Major Mono"),
      url(./MajorMonoDisplay-Regular.ttf) format("truetype");
  }

html,
body
{

    font-family: Major Mono;
    color: grey;
    background: white;

    background: url(./white-texture.jpg);

}

.column {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    padding: 20px;

    height: fit-content;

}


.container {
    display:flex;
    justify-content: space-between;
    margin: 100px;

}

.line {
    display:flex;
    gap: 10px;
    margin-top: 30px;

}

#coral-x-input-multiple, #coral-y-input-multiple, #blue-x-input-multiple, #blue-y-input-multiple {
    max-width: 50px;
    height: 20px;
}

p {
    color: brown;
    margin: 10px 0;
}

h2 {
    margin: 20px;
    min-width: 130px;
}

select {
    font-size: 20px;

}

input , select{
    background: linen;
}

.coral-line, .blue-line {

    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.coral-line{
border: 1px solid #ff4910

}
.blue-line{
border: 1px solid steelblue

}
.line-container {
    display: flex;
    flex-direction: column;

}

.blue-line h2 {
    mix-blend-mode: multiply;
}
.coral-line h2 {
    mix-blend-mode: multiply;
}



@media screen and (max-width: 600px) {
    .container{
        flex-direction:column;
        margin: 0px;
    }

  }

circle{
    mix-blend-mode: color-burn;
}